.seguidos-box {
  max-width: 240px;
}

.seguidos-box .btn-dark {
  width: 100%;
}

.candidatos-box {
  max-width: 650px;
  padding: 16px 20px 16px 20px;
  margin: 0 16px 0 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.candidatos-box i {
  font-size: 30px;
}
