<div class="banner">
  <div class="container">
    <h1>Repensar, refletir, reconsiderar, refazer, ressignificar...a política!</h1>
    <p>Acompanhe e monitore os políticos de seu interesse</p>
    <a class="btn btn-primary" href="#">Quero Repolitizar</a>
  </div>
  <%= link_to "Políticos/Candidatos", candidatos_path, class: "btn btn-secondary" %>
</div>
