<%# <div class="banner"> %>
<%= image_tag('/assets/images/download.jpeg', :class => "banner") %>
  <div class="container">
    <h1>Repensar, refletir, reconsiderar, refazer, ressignificar...a política!</h1>
    <%# <p> A política!</p> %>
    <p>Acompanhe e monitore os políticos de seu interesse</p>
    <a class="btn btn-primary" href="#">Quero Repolitizar</a>
  </div>
</div>
