<div class="card-product">
  <%= link_to candidato_path(candidato), class:"link-candidato" do %>
  <%= cl_image_tag candidato.photo.key, :transformation=>[
  {:radius=>"max"},
  {:height=>150, :crop=>"scale"}
  ] %>
  <% end %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
