<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  Eleição não é um evento banal, é um processo democrático e contínuo
  que exige máxima consciência e responsabilidade de seus cidadãos. © 2021 by:
  <a href="mailto:contato@repolitiks.me"> REPOLITIKS</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
