<div id="footer-height"></div>

<div class="footer d-flex align-items-center">
  <div class="container mx-0 px-0">
    <div class="row align-items-center m-0">
      <div class="col-12 col-md-4 p-0">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-8 footer-p p-0">
        <div class="footer-copyright">
          Feito no <i class="bi bi-tools"></i> pela equipe do Repolitiks
        </div>
      </div>
    </div>
  </div>
</div>
