<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content py-1">
    <%# <p class="logo-font mb-0"><span class="logo-decrescendum logo-border-right logo-small pr-1">RE</span><span class="logo-decrescendum logo-small pl-1">PLTKS</span></p> %>
    <div class="modal-body px-2 py-2">
      <%= render "shared/search_bar" %>
    </div>
  </div>
</div>
