<div class="container">
  <div class="text-center my-3">
    <h2>Minha página</h2>
  </div>

  <%= link_to :back do %>
    <div><i class="fas fa-caret-square-left btn-voltar"></i></div>
  <% end %>

  <%= link_to candidatos_path do %>
    <div class="btn btn-dark my-4"><i class="fas fa-search"></i> Pesquisar políticos</div>
  <% end %>

  <% if @candidatos.blank? %>
    <h6>Acompanhe os políticos que escolher. Basta marcá-los com <i class="fas fa-thumbtack pin-amarelo"></i> ou clicar no botão <span class="btn-warning px-1 rounded">Seguir candidato</span>.</h5>
  <% else %>
    <h5>Políticos Seguidos</h5>
    <div class="row">
      <% @candidatos.each do |candidato| %>
        <div class="col-sm-6 col-lg-3 mb-4 d-flex align-items-stretch justify-content-center">
          <%= render "shared/card_marcados", candidato: candidato %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
