.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: calc(100vh - 64px);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-form {
  position: relative;
  height: 38px;
  width: 315px;
  margin: 0 auto;
}

.banner-input {
  border-radius: 4px;
  padding-right: 115px;
  border: 1px solid black;
}

.banner-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
