.card-candidato {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  flex-basis: 0;
  flex-grow: 1;
}

.card-candidato:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.card-candidato > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-candidato h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-candidato p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-candidato .card-candidato-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

.card-candidato-infos .card-candidato-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-delete {
  bottom: 0
}

a.link-candidato {
  text-decoration: none;
  color: inherit;
}
