.card-candidato {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

.card-candidato:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.card-bottom{
  position: absolute;
  bottom: 13px;
  width: calc(100% - 32px);
}

.card-candidato > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-candidato h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-candidato p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-candidato .card-candidato-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

.card-candidato-infos .card-candidato-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-delete {
  bottom: 0
}

a.link-candidato {
  text-decoration: none;
  color: inherit;
}

.pin-amarelo{
  color: rgb(255, 217, 0);
}

.pin-cinza{
  color: rgb(200, 200, 200);
}


// #### Cards da Page do usuário #### //

// ## Card Lista ## //
.card-home {
  overflow: hidden;
  height: 60px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.card-home img {
  height: 100%;
  width: 50px;
  object-fit: cover;
  border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.card-home h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-home p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
  // margin-bottom: 0;
  // margin-top: 8px;
}

.card-home .card-home-infos {
  padding: 8px;
}


// ## Card Principal ## //

.candidato-main-card {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  // border: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.card-home img {
  height: 100%;
  width: 130px;
  object-fit: cover;
  border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
}
