// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "footer";
@import "banner";
@import "button";
@import "modal";
@import "logo";
@import "navtab";
@import "search_bar";

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}
