.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-logo {
  font-size: 28px;
}

@media screen and (max-width: 683px) {
  .text-logo {
    font-size: 20px;
  }
}

.nav-login{
  background-color: rgb(240, 240, 240);
}

.nav-item.dropdown{
  cursor: pointer;
}

.nav-item.dropdown p{
  padding: 4px 24px;
  font-style: italic;
  color: rgb(180, 180, 180);
  cursor: default;
  margin: 0;
}

.item-minha-conta{
  color: rgb(100, 100, 100);
}

.nav-casinha{
  font-size: 20px;
  margin-top: 2px;
}
