<div class="container mt-4">

  <% if user_signed_in? %>
    <div class="text-right">
      <%= link_to "Minha página", "#", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <% @candidatos.first(50).each do |candidato| %>
        <div class="col-sm-6 col-lg-3 mb-4 d-flex align-items-stretch justify-content-center">
          <%= link_to candidato_path(candidato), class:"link-candidato" do %>
            <%= render "shared/card_candidato", candidato: candidato %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @candidatos %>
  </div>

  <div class="container text-right">
    <hr>
    <a href="#">Voltar ao topo</a>
    <br>
    <br>

  </div>
</div>
